  <section class="side-bar">
    <div class="room-nav">
    <h1>Welcome to Bloc Chat!</h1>
  </div><br><br>
  <!-- <h5 class="modal-prompt">Enter Room Name</h5> -->
  <div class="room-button">
    <input type="text" name="input" ng-model="home.newRoom.name"></input>
    <span class="new-room-button" type="button" ng-click="home.addRoom()">Create Room</span><br>
  </div>

  <div ng-repeat="room in home.rooms">
    <h3> {{ room.$index }}</h3>
    <p class="room-name" ng-click="home.setRoom(room)"> {{ room.name }} </p>
  </div>

  <div class="chat-section">
    <h3 style="text-align:center;"> {{ home.currentRoom.name }} </h3>

    <div ng-repeat="message in home.currentMessages">
      <p>{{ message.username }}</p>
      <p>{{ message.content }}</p>
      <p>{{ message.sentAt | date : "shortTime" }}</p>
    </div>

    <input type="text" placeholder="type message"ng-model="home.newMessage.content"></input>
    <button ng-click="home.sendMessage()">Send</button>
  </section>
